body {
    font-family: "Titillium Web", sans-serif;
}
.banner-bg {
    background-image: url("./assets/images/heroImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
